USE [master]
GO
/****** Object:  Database [DB_travel]    Script Date: 10/12/2018 21:49:39 ******/
CREATE DATABASE [DB_travel] ON  PRIMARY 
( NAME = N'DB_travel', FILENAME = N'D:\UTS_VB_IK_2\DB_travel.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_travel_log', FILENAME = N'D:\UTS_VB_IK_2\DB_travel_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_travel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_travel]
GO
/****** Object:  User [kisan]    Script Date: 10/12/2018 21:49:39 ******/
CREATE USER [kisan] FOR LOGIN [kisan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Kendaraan]    Script Date: 10/12/2018 21:49:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kendaraan](
	[RequestID] [int] NOT NULL,
	[NameRequestor] [char](30) NULL,
	[RequestorID] [char](15) NULL,
	[Unit] [char](15) NULL,
	[DateIssue] [datetime] NULL,
	[UnitDestination] [char](15) NULL,
	[acRegis] [char](15) NULL,
	[Transportation] [char](30) NULL,
	[Phone] [char](15) NULL,
	[Instruction] [text] NULL,
 CONSTRAINT [PK_transportation] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
